<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="ssfForm">
  <div fxLayout="column" fxFlexAlign="start start" style="margin-bottom: 3rem">
    <div class="mat-display-3 no-margin">
      Resources
      <mat-icon
        [routerLink]="['/resources/analytics']"
        fxFlex
        fxLayoutAlign="start center"
        style="
          cursor: pointer;
          width: fit-content;
          color: rgba(0, 0, 0, 0.54);
          margin-left: 1.5rem;
        "
        inline="true"
      >
        analytics
      </mat-icon>
    </div>
    <div fxLayout="row">
      <button
        [routerLink]="['/resources/new']"
        color="primary"
        mat-raised-button
        style="margin: 2rem 2rem 0 0"
      >
        New
      </button>
    </div>
  </div>

  <div
    class="mat-elevation-z4"
    style="
      min-width: min-content;
      background-color: rgb(238, 238, 238);
      margin-bottom: 3rem;
    "
  >
    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%">
        <mat-label>Filter by</mat-label>
        <mat-select (selectionChange)="updateQuery()" formControlName="status">
          <mat-option *ngFor="let f of statusVals" [value]="f.value">
            {{ f.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem">
        <input
          id="search-box"
          matInput
          placeholder="Search"
          formControlName="search"
          (keyup.enter)="updateQuery()"
        />
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>

    <mat-table
      [dataSource]="dataSource"
      matSort
      class="custom-row-hover"
      style="padding: 0 1rem 0 1rem"
      matSortActive="model"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Model
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.model }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Brand
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.brand }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          State
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.state_name }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        (click)="edit(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</section>
