<section
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-between"
  style="height: 100%"
>
  <section
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxFlex="40%"
    style="height: 100%"
  >
    <section style="margin-bottom: 2rem" fxFlexAlign="start">
      <img
        mat-card-avatar
        [src]="avatar"
        alt="avatar"
        style="width: 300px; height: 300px; margin-bottom: 1rem"
      />
      <input
        (change)="avatarChange($event)"
        id="input-file-id"
        mat-input
        type="file"
        accept="image/*"
        style="display: none"
      />
    </section>
    <div class="mat-display-3" style="margin-top: 2rem; margin-bottom: 1rem">
      Profile
    </div>
    <mat-card
      class="mat-elevation-z4"
      fxLayout="column"
      style="min-width: min-content"
    >
      <mat-card-content>
        <div fxFlex fxLayoutAlign="start center">First name</div>
        <p>{{ authService.currentEmployee?.firstname }}</p>
      </mat-card-content>

      <mat-card-content>
        <div fxFlex fxLayoutAlign="start center">Last name</div>
        <p>{{ authService.currentEmployee?.lastname }}</p>
      </mat-card-content>

      <mat-card-content>
        <div fxFlex fxLayoutAlign="start center">Team</div>
        <p>Misharu team's</p>
      </mat-card-content>

      <mat-card-content fxLayoutAlign="start center">
        <button mat-stroked-button class="md-button md-raised md-primary">
          <label style="width: max-content" for="input-file-id"
            >Choose Picture</label
          >
        </button>
      </mat-card-content>
    </mat-card>
  </section>

  <section
    fxLayout="column"
    fxLayoutAlign="center stretch"
    fxFlex="40%"
    style="height: 100%"
  >
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
      style="margin-bottom: 2rem"
    >
      <div *ngIf="!editToggle; else createBlock">
        <button
          (click)="edit()"
          color="primary"
          mat-raised-button
          style="margin: 0 2rem 0 0"
        >
          Edit
        </button>
        <button color="primary" mat-raised-button style="margin: 0 0 0 0">
          Change password
        </button>
      </div>
      <ng-template #createBlock>
        <button
          [disabled]="editForm.invalid"
          (click)="submit()"
          color="primary"
          mat-raised-button
          style="margin: 0 2rem 0 0"
        >
          Confirm
        </button>
        <button
          (click)="edit()"
          style="background-color: gray; color: white"
          mat-raised-button
        >
          Cancel
        </button>
      </ng-template>
    </div>
    <mat-card
      class="mat-elevation-z4"
      fxLayout="column"
      style="min-width: min-content"
      [formGroup]="editForm"
    >
      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
          <mat-error>Phone Must Be 10 Digits</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error>Email must be valid format</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error>Adress is required</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
</section>
