/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.no-margin {
  margin-bottom: 0px !important;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  background-color: rgb(235, 235, 235);
}

/* #region Changed color on disabled inputs for readability */
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.75) !important;
}

.owl-dt-container-disabled,
.owl-dt-trigger-disabled {
  opacity: 1;
}
/* #endregion */

/* #region All buttons text color is white */
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: rgba(255, 255, 255) !important;
}
/* #endregion */

/* #region Makes all cards/lists borders round */
mat-card {
  border-radius: 8px !important;
}

mat-paginator {
  border-radius: 0 0 8px 8px !important;
}

.mat-elevation-z4 {
  border-radius: 10px !important;
}
/* #endregion */

/* #region Ellipsed titles and tooltips */
.ellipsed-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  height: 60px;
}

.custom-tooltip {
  font-size: 15px !important;
  max-width: unset !important;
}
/* #endregion */

/* #region Custom dates and times inputs colors */
.owl-dt-container-info .owl-dt-container-info-active {
  color: #4caf50;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  color: rgba(255, 255, 255, 0.85);
  background-color: #4caf50;
}

.owl-dt-container-buttons {
  color: #4caf50;
}
/* #endregion */

/* #region Custom titles and containers for titles+buttons */
.custom-title {
  height: 60px !important;
  margin-bottom: 1rem !important;
}

.custom-title-buttons-container {
  margin-bottom: 4rem !important;
  flex-direction: column !important;
  box-sizing: border-box !important;
  display: flex !important;
  place-content: flex-start !important;
  align-items: flex-start !important;
}

@media screen and (max-width: 1280px) {
  .responsive-width {
    align-items: unset !important;
  }

  .custom-title-buttons-container {
    margin-bottom: 2rem !important;
  }
}
/* #endregion */

/* #region Color when hovering clickable row */
.custom-row-hover mat-row:hover {
  background-color: rgba(223, 223, 223, 0.657);
}
/* #endregion */

.custom-border {
  border-radius: 8px !important;
}

.custom-border-top {
  border-radius: 8px 8px 0px 0px !important;
}
