<section fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="8rem" style="height: 100%;">
  <section fxLayout="column" style="width: 80%;" fxLayoutAlign="center stretch" [formGroup]="ssfForm">
    <div fxLayout="column" fxLayoutAlign="start start" style="margin-bottom: 2rem;" class="mat-display-3 custom-title ellipsed-title">
        Tasks Analytics
    </div>
 <!--List-->
    <div class="mat-elevation-z4" style=" min-width: 60%; background-color: rgb(238, 238, 238);">
      <div color="primary" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
          <mat-label>Show</mat-label>
          <mat-select (selectionChange)="stateFilter()" formControlName="filterOpts">
            <mat-option *ngFor="let f of filterVals" [value]="f.value">
              {{f.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
          <input id='search-box' matInput placeholder="Search" formControlName="search" (keyup.enter)="stateFilter()">
          <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="actual_time" matSortDirection="desc">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let task" > {{task.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="due_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
          <mat-cell *matCellDef="let task" style="display: flex; justify-content: space-between;" >
            <span>{{task.due_date| date: 'shortDate'}}</span>
            <span *ngIf="task.due_date < currentDate  &&task.state!=2" style="color:red; ;" class="material-icons" >warning</span>
            <span *ngIf="currentDate < task.due_date && task.due_date < nextWeek  &&task.state!=2" style="color:green;" class="material-icons">priority_high</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
          <mat-cell *matCellDef="let task" > {{taskState(task.state)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estimated_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estimated time (Mins) </mat-header-cell>
          <mat-cell *matCellDef="let task" > {{task.estimated_time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actual_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actual time (Mins) </mat-header-cell>
            <mat-cell *matCellDef="let task" style="display: flex; justify-content: space-between;" >
              <span> {{task.actual_time}} </span>
            <span *ngIf="task.actual_time>task.estimated_time" style="color:red;" class="material-icons">warning</span>
            <span *ngIf="task.actual_time>(task.estimated_time/4)*3 && task.actual_time<=task.estimated_time" style="color:green;" class="material-icons">priority_high</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </section>
  <!--Details-->
  <section fxLayout="column" style="width: 20%;" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="start start" style="margin-bottom: 2rem;" class="mat-display-3 custom-title ellipsed-title">
      Stats
    </div>

  <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content;margin-bottom: 2rem;" [formGroup]="analyticsForm">
    <mat-card-content>
        <h3 style="font-weight:bold;">Overall</h3>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" >
        <mat-label >Active </mat-label>
        <input formControlName="activePercent"  matInput readonly style="font-size: x-large;" >
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Tasks Overtime</mat-label>
        <input formControlName="percentOverTime"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Average Time (per worktime)</mat-label>
        <input formControlName="avgTime"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Total Worktimes (for team)</mat-label>
        <input formControlName="worktimeCount"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Greatest Contribution</mat-label>
        <input formControlName="mostTime"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Greatest Contributor</mat-label>
        <input formControlName="mostTimeName"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Problem %</mat-label>
        <input formControlName="percentProblem"  matInput readonly style="font-size: x-large;">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  </section>
</section>
