<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="selectForm">
  <div class="custom-title-buttons-container">
    <div class="mat-display-3 custom-title ellipsed-title" style="min-width: fit-content;">
       Team Analytics
    </div>
  </div>

  <div class="mat-elevation-z4" style="min-width: min-content; background-color: rgb(238, 238, 238); margin-bottom: 3rem;">

    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
        <input matInput placeholder="Search" formControlName="search" (keyup.enter)="refreshList()">
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>
    
    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" class="custom-row-hover">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header > First Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.firstname}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.lastname}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfMember">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of members </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numberOfMember}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ getTotalMember() }} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="nbOfFullTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> availability Full Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nbOfFullTime}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>  {{ getNbOfFullTime() }} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="nbOfHalfTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> availability part Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nbOfHalfTime}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ getNbOfHalfTime() }} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="nbOfContractual">
        <mat-header-cell *matHeaderCellDef mat-sort-header> availability contractual </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nbOfContractual}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ getNbOfContractual() }} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header> age by day </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ getAverageAge() }}μ</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of offers </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numberOfPost}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ getNbOfOffers() }} </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</section>