<div *ngIf="currentTeam !== undefined">
  <section *ngIf="currentTeam === null ; else createBlock" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5rem" style="height: 100%;">
    <section fxLayout="column" fxLayoutAlign="center stretch"  fxFlex="100%" >
      <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start start" style="margin-bottom: 3rem;">
        <div class="mat-display-1 custom-title" style="min-width: fit-content;">
           <div>
            You dont have team
           </div>
        </div>
        <div class="no-margin">
          <p>
            To acces projects or tasks create or join one
          </p>
        </div>
        <div class="mat-display-1 no-margin">
          <button [routerLink]="['/team/new']" color="primary" mat-raised-button style="margin: 1rem;">New</button>
        </div>
      </div>
    </section>
  </section>

  <ng-template #createBlock>
    <section
    fxLayout.gt-md="row"
    fxLayout="column"
    fxLayoutGap.gt-sm="8rem"
    fxLayoutGap="4rem"
    fxLayoutAlign="space-between start"
    style="min-width: fit-content;"
    class="responsive-width">
      <section *ngIf="editMember; else createBlock4"  fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-sm="50%" fxFlex="100%">
        <div class="custom-title-buttons-container">
          <div class="mat-display-3 custom-title ellipsed-title" style="min-width: fit-content;">
             {{ editForm.get('name')?.value }}
             <mat-icon [routerLink]="['/team/analytics']" fxFlex fxLayoutAlign="start center" style="cursor: pointer; width: fit-content; color: rgba(0, 0, 0, 0.54); margin-left: 1.5rem;" inline="true">
              analytics
            </mat-icon>
          </div>
          <div *ngIf = "authService.currentEmployee?.id == currentTeam.owner_id">
            <div *ngIf="editToggle; else createBlock2">
              <button (click)="edit()" color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Edit</button>
              <button  (click)="openDialog()" color="warn" mat-raised-button>Delete</button>
            </div>
            <ng-template #createBlock2>
              <button (click)="confirm()" [disabled]="editForm.invalid" color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Confirm</button>
              <button  (click)="cancel()" style="background-color: gray; color:white;" mat-raised-button>Cancel</button>
            </ng-template>
          </div>
          </div>

        <div *ngIf = "authService.currentEmployee?.id == currentTeam.owner_id; else createBlock5">
          <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content;"[formGroup]="editForm">
            <mat-card-content>
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>Team Name</mat-label>
                <input formControlName="name" matInput required>
                <mat-error>Name is required</mat-error>
              </mat-form-field>
            </mat-card-content>
              <mat-card-content>
                <mat-form-field appearance="fill" fxFlex="100%">
                  <mat-label>Description</mat-label>
                  <textarea
                    matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="6"
                    required></textarea>
                  <mat-error>Description is required</mat-error>
                </mat-form-field>
              </mat-card-content>
            <mat-card-content>
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>Annonce</mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="6"></textarea>
                <mat-hint style="color:red" *ngIf="editForm.errors?.message">message is required if message expiration is present</mat-hint>
              </mat-form-field>
            </mat-card-content>
            <mat-card-content>
            <mat-form-field fxFlex="100%">
              <mat-label>Annonce expiration</mat-label>
              <input matInput formControlName="message_expiration" [matDatepicker]="myDatePicker">
              <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #myDatePicker></mat-datepicker>
              <mat-hint style="color:red" *ngIf="editForm.errors?.message">Due date is required if message is present and cannot be in the past</mat-hint>
            </mat-form-field>
          </mat-card-content>
          </mat-card>
          <!-- {{ editForm.errors?.message }} -->
        </div>


        <ng-template #createBlock5>
          <mat-card class="mat-elevation-z4" fxLayout="column" style="margin-bottom: 1.6rem; min-width:min-content;"[formGroup]="editForm">
            <mat-form-field  fxFlex="100%">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="6"></textarea>
            </mat-form-field>
          </mat-card>
          <mat-card *ngIf = "currentTeam.message != null && currentDate < currentTeam.message_expiration" class="mat-elevation-z4" fxLayout="column" style="margin-bottom: 1.6rem; min-width:min-content;"[formGroup]="editForm">
            <mat-form-field  fxFlex="100%">
              <mat-label>Message</mat-label>
              <textarea
                matInput
                formControlName="message"
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"></textarea>
            </mat-form-field>
          </mat-card>
        </ng-template>



      </section>
      <ng-template #createBlock4>
        <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-sm="50%" fxFlex="100%">
          <div class="custom-title-buttons-container">
            <div class="mat-display-3 custom-title" style="min-width: fit-content;">
               <div>
                {{ currentTeam?.name }}
               </div>

            </div>
            <div class="mat-display-1 no-margin">
              Search Employee
             </div>
          </div>
          <app-team-edit-board-all-users #boardAllUsers [currentTeam]="currentTeam" (updateBoards)="updateAllBoard()"></app-team-edit-board-all-users>
        </section>
      </ng-template>
      <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
        <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start start" style="margin-bottom: 3rem;">
          <div>
            <div class="mat-display-2 custom-title" fxLayoutAlign="start center">
              Members
            </div>
          </div>


          <div *ngIf = "this.authService.currentEmployee?.id == currentTeam.owner_id">
            <div *ngIf="editMember; else createBlock3">
              <button (click)="editAllMember()" color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Edit</button>
            </div>
            <ng-template #createBlock3>
              <button (click)="editAllMember()" color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Go back</button>
            </ng-template>
          </div>
        </div>
        <app-team-board-members #boardMembers    [currentTeam]="currentTeam" [(editMember)]="editMember"  (updateBoards)="updateAllBoard()"></app-team-board-members>
    </section>
    </section>
  </ng-template>

</div>


