mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 200px;
}
mat-icon {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
span {
  color: white;
}
a:hover,
a:active {
  color: lightslategrey;
}

.nav-caption {
  display: inline-block;
  padding-left: 10px;
}

@media screen and (min-width: 1100px) {
  .custom-margin-not-authed {
    margin: 6rem 8rem 3rem 8rem;
  }
  .custom-margin {
    margin: 6rem 8rem 3rem 187px;
  }
}

@media screen and (max-width: 1100px) {
  .custom-margin-not-authed {
    margin: 4.5rem 6rem 2rem 6rem;
  }
  .custom-margin {
    margin: 4.5rem 6rem 2rem 140px;
  }
}

@media screen and (max-width: 649px) {
  .custom-margin-not-authed {
    margin: 3rem 3rem 2rem 3rem;
  }
  .custom-margin {
    margin: 3rem 4rem 2rem 93px;
  }
}
