<mat-sidenav-container class="mat-drawer-side" fxLayoutGap="12rem">
  <mat-sidenav  *ngIf="this.authService.currentEmployee"
    role="navigation"
    mode="rail"
    style="background-color:rgb(31, 131, 31);"
    [opened]="navOpen"
    [fixedInViewport]="true"

  >
    <mat-nav-list  >
      <a mat-list-item (click)="navOpen = !navOpen">
        <mat-icon>menu</mat-icon>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item [routerLink]="['/home']" (click)="navOpen = false"  >
        <mat-icon>home</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Home</span>
      </a>
      <a mat-list-item [routerLink]="['/tasks']" (click)="navOpen = false">
        <mat-icon>assignment</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Tasks</span>
      </a>
      <a mat-list-item [routerLink]="['/team']" (click)="navOpen = false">
        <mat-icon>groups</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Team</span>
      </a>
      <a mat-list-item [routerLink]="['/projects']" (click)="navOpen = false">
        <mat-icon>event</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Projects</span>
      </a>
      <a mat-list-item [routerLink]="['/resources']" (click)="navOpen = false">
        <mat-icon>devices</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Resources</span>
      </a>
      <a mat-list-item [routerLink]="['/jobOffers']" (click)="navOpen = false">
        <mat-icon>work</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Job offers</span>
      </a>
    </mat-nav-list>
    <mat-nav-list style="top: 100%; position: sticky;">
      <a mat-list-item [routerLink]="['/profile']" (click)="navOpen = false">
        <mat-icon>account_box</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Profile</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span *ngIf="navOpen" class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80%;" [ngClass]="{'custom-margin':authService.currentEmployee, 'custom-margin-not-authed':!authService.currentEmployee}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
