<section fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="8rem" style="height: 100%;">
    <section fxLayout="column" fxLayoutAlign="center stretch"  fxFlex="50%" >
      <div fxLayout="column" fxFlexAlign="start start" style="margin-bottom: 3rem;">
        <div class="mat-display-3 custom-title ellipsed-title">
          <div matTooltipClass="custom-tooltip" matTooltipPosition="above" matTooltip="{{editForm.get('name').value}}" *ngIf="!this.route.snapshot.paramMap.get('id').startsWith('new'); else newBlock" class="ellipsed-title">
            {{ editForm.get('name')?.value }}
          </div>
          <ng-template #newBlock>
            Worktime
          </ng-template>
        </div>
        <div fxLayout="row">
          <div *ngIf="!editToggle && currentWorktime; else createBlock" fxLayoutAlign="start">
            <button *ngIf="!currentWorktime?.archived && currentWorktime?.user_id==authService.currentEmployee.id" (click)="edit()" color="primary" mat-raised-button style="margin: 0 2rem 0 0;margin-top: 1rem;min-width: fit-content;">Edit</button>
            <button *ngIf="!currentWorktime?.archived && currentWorktime?.user_id==authService.currentEmployee.id" (click)="openDialog('delete')" color="warn" mat-raised-button style="margin: 0 2rem 0 0;margin-top: 1rem;min-width: fit-content;">Delete</button>
            <button *ngIf="!currentWorktime?.archived" (click)="openDialog('archive')" mat-raised-button style="width: fit-content; background-color:gray; color:white;margin-top: 1rem;min-width: fit-content;">Archive</button>
            <button *ngIf="currentWorktime?.archived" (click)="openDialog('archive')" mat-raised-button style="width: fit-content; background-color:gray; color:white;margin-top: 1rem;min-width: fit-content;">Unarchive</button>
          </div>
          <ng-template #createBlock>
            <button [disabled]="editForm.invalid" (click)="submit()" color="primary" mat-raised-button style="margin: 0 2rem 0 0;margin-top: 1rem;min-width: fit-content;">Confirm</button>
            <button (click)="cancel()" style="background-color: gray; color:white;margin-top: 1rem;min-width: fit-content;" mat-raised-button>Cancel</button>
          </ng-template>
        </div>
      </div>

      <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content; margin-bottom: 2rem;" [formGroup]="editForm">
        <mat-card-content>
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>Name</mat-label>
            <input formControlName="name"  matInput>
          <mat-error>Name is required and must be less than 45 characters long.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="currentWorktime!=null">
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>Employee</mat-label>
            <input formControlName="user"  matInput>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>Description</mat-label>
            <textarea  matInput formControlName="description" cdkTextareaAutosize
              cdkAutosizeMinRows="6"></textarea>
          <mat-error>Description is required and must be less than 255 characters long.</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>Problem</mat-label>
            <textarea  matInput formControlName="problem" cdkTextareaAutosize
            cdkAutosizeMinRows="6"></textarea>
          <mat-error>Problem must be less than 255 characters long</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content fxLayout="row" fxLayoutGap="2rem">
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>Start Date and Time </mat-label>
              <input
              [owlDateTimeTrigger]="dt1"
              [owlDateTime]="dt1"
              formControlName="start_dt"
              matInput
              [max]="maxDate">
              <owl-date-time #dt1></owl-date-time>
          <mat-error>
            Start date and time is required, must be in a valid format and cannot be in the past.
          </mat-error>
        </mat-form-field>
        </mat-card-content>

        <mat-card-content fxLayout="row" fxLayoutGap="2rem">
          <mat-form-field appearance="fill" fxFlex="100%">
            <mat-label>End Date and time </mat-label>
              <input [owlDateTimeTrigger]="dt2"
              [owlDateTime]="dt2"
              formControlName="end_dt"
              matInput
              [max]="maxDate"
              [min]="dt1.selected">
              <owl-date-time #dt2></owl-date-time>
          <mat-error>
            End date and time cannot be before start time and cannot be in the future.
          </mat-error>
        </mat-form-field>
        </mat-card-content>

      </mat-card>
    </section>
  </section>
