<section fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="8rem" style="height: 100%;">
    <section fxLayout="column" fxLayoutAlign="center stretch"  fxFlex="50%" fxFlex.lt-md="100%" >
      <div fxLayout="column" fxFlexAlign="start start" style="margin-bottom: 3rem;">
        <div matTooltipClass="custom-tooltip" matTooltipPosition="above" matTooltip="{{editForm.get('name').value}}" class="mat-display-3 custom-title ellipsed-title">
          <div *ngIf="!this.route.snapshot.paramMap.get('id').startsWith('new'); else newBlock" class="ellipsed-title">
            {{ editForm.get('name')?.value }}
          </div>
          <ng-template #newBlock>
            Task
          </ng-template>
        </div>
        <div fxLayout="row">
          <div *ngIf="!editToggle && currentTask; else createBlock" fxLayoutAlign="start" >
            <button *ngIf="currentTask?.state!=2" (click)="edit()" color="primary" mat-raised-button style="margin: 0 2rem 0 0;min-width: fit-content;">Edit</button>
            <button *ngIf="currentTask?.state!=2" (click)="openDialog('delete')" color="warn" mat-raised-button style="margin: 0 2rem 0 0;min-width: fit-content">Delete</button>
            <button *ngIf="currentTask?.state!=2" (click)="openDialog('archive')" mat-raised-button style="width: fit-content; background-color:gray; color:white;min-width: fit-content">Archive</button>
            <button *ngIf="currentTask?.state==2" (click)="openDialog('archive')" mat-raised-button style="width: fit-content; background-color:gray; color:white;min-width: fit-content">Unarchive</button>
          </div>
          <ng-template #createBlock>
            <button [disabled]="editForm.invalid" (click)="submit()" color="primary" mat-raised-button style="margin: 0 2rem 0 0;min-width: fit-content;">Confirm</button>
            <button (click)="cancel()" style="background-color: gray; color:white;min-width: fit-content;" mat-raised-button>Cancel</button>
          </ng-template>
        </div>
      </div>

    <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content;margin-bottom: 2rem;" [formGroup]="editForm">
      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Name</mat-label>
          <input formControlName="name"  matInput>
        <mat-error>Name is required and must be less than 45 characters long.</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea  matInput formControlName="description" cdkTextareaAutosize
            cdkAutosizeMinRows="6"></textarea>
        <mat-error>Description is required and must be less than 255 characters long.</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Estimated Time</mat-label>
          <input formControlName="estimated_time" matInput>
        <mat-error>Estimated time is required and must be more than 15 minutes.</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Actual Time</mat-label>
          <input formControlName="actual_time"  matInput readonly disabled>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field style="margin: 0 auto 0 1rem; width: 40%;">
          <mat-label>State</mat-label>
          <mat-select formControlName="state" >
              <mat-option [value]="0" >New</mat-option>
              <mat-option [value]="1" >Finished</mat-option>
          </mat-select>
        <mat-error>State is required</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%" class="custom-datetime">
          <mat-label>Due date</mat-label>
            <input matInput [owlDateTimeTrigger]="myDatePicker" [owlDateTime]="myDatePicker" formControlName="due_date" [min]="minDate">
            <owl-date-time [pickerType]="'calendar'" #myDatePicker></owl-date-time>
            <mat-error *ngIf="
                ( editForm.get('due_date').invalid ||
                editForm.get('due_date').errors?.owlDateTimeMin ) &&
                editForm.get('due_date').touched &&
                editForm.get('due_date').dirty">
              Due date is required, must be in a valid format and cannot be in the past.
            </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
  <app-worktimes *ngIf="this.id" [id]="id" [archived]="currentTask?.state" fxFlex></app-worktimes>
</section>
