<section  fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5rem" style="height: 100%;">
      <section fxLayout="column" fxLayoutAlign="center stretch"  fxFlex="50%" >
        <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start start" style="margin-bottom: 4rem;">
          <div class="mat-display-2 no-margin">
             Create Your Team
          </div>
          <div>
            <div>
              <button [disabled]="editForm.invalid" (click)="create()"color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Create</button>
              <button (click)="cancel()"  color="warn" mat-raised-button>Cancel</button>
            </div>
          </div>
          </div>
        <mat-card class="mat-elevation-z4" fxLayout="column" style="margin-bottom: 1.6rem; min-width:min-content;"[formGroup]="editForm">
          <mat-card-content>
            <mat-form-field appearance="fill" fxFlex="100%">
              <mat-label>Team Name</mat-label>
              <input formControlName="name" matInput required>
              <mat-error>Name is required</mat-error>
            </mat-form-field>
          </mat-card-content>
            <mat-card-content>
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="6"
                  required></textarea>
                <mat-error>Description is required</mat-error>
              </mat-form-field>
            </mat-card-content>
        </mat-card>


      </section>
</section>
