<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="ssfForm">
  <div class="custom-title-buttons-container">
    <div class="mat-display-3 custom-title ellipsed-title" style="min-width: fit-content;">
      {{ currentTeam?.name }} projects
      <mat-icon fxHide.lt-md [routerLink]="['/projects/analytics']" fxFlex fxLayoutAlign="start center" style="cursor: pointer; width: fit-content; color: rgba(0, 0, 0, 0.54); margin-left: 1.5rem;" inline="true">
        analytics
      </mat-icon>
    </div>
    <div fxLayout="row" fxLayoutGap="4rem" fxLayoutAlign="start center">
      <button [routerLink]="['/project/new']" color="primary" mat-raised-button>New</button>
      <mat-icon fxHide.gt-sm [routerLink]="['/projects/analytics']" fxFlex fxLayoutAlign="start center" style="cursor: pointer; width: fit-content; color: rgba(0, 0, 0, 0.54); transform: scale(2);">
        analytics
      </mat-icon>
    </div>
  </div>

  <div class="mat-elevation-z4" style="min-width: min-content; background-color: rgb(238, 238, 238); margin-bottom: 3rem;">
    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
        <mat-label>Show</mat-label>
        <mat-select (selectionChange)="refreshList()" formControlName="filterOpts">
          <mat-option *ngFor="let f of filterVals" [value]="f.value">
            {{ f.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
        <input matInput placeholder="Search" formControlName="search" (keyup.enter)="refreshList()">
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="name" matSortDirection="asc" class="custom-row-hover">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 1rem 0 1rem;"> Description </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding: 0 1rem 0 1rem;"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Due date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.due_date | date: 'shortDate'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="edit(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</section>
