<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content style="white-space: pre-line">{{
  data.message
}}</mat-dialog-content>
<mat-dialog-actions>
  <button
    *ngFor="let state of data.states"
    mat-stroked-button
    mat-dialog-close
    [mat-dialog-close]="state.value"
  >
    {{ state.label }}
  </button>
</mat-dialog-actions>
