<section
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutGap.gt-md="8rem"
  fxLayoutGap="2rem"
  fxLayoutAlign="space-between start"
  style="min-width: fit-content;"
  class="responsive-width">
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-sm="50%" fxFlex="100%">
    <div class="custom-title-buttons-container">
      <div class="mat-display-3 custom-title" style="min-width: fit-content;">
        <div class="ellipsed-title" matTooltipClass="custom-tooltip" matTooltipPosition="above" matTooltip="{{editForm.get('name').value}}" *ngIf="!this.route.snapshot.paramMap.get('id').startsWith('new'); else newBlock">
          {{ editForm.get('name').value }}
        </div>
        <ng-template #newBlock>
          {{ editForm.get('name')?.value != null ? editForm.get('name')?.value : "Project" }}
        </ng-template>
      </div>

      <div>
        <div *ngIf="!editToggle; else createBlock" fxLayoutAlign="start" fxLayout="row" fxLayoutGap="26px" style="width: min-content;">
          <button *ngIf="fullCurrentProject ? !fullCurrentProject?.archived : false" (click)="edit()" color="primary" mat-raised-button style="min-width: fit-content;">
            Edit
          </button>
          <button *ngIf="fullCurrentProject ? !fullCurrentProject?.archived : false" (click)="openDialog('delete')" color="warn" mat-raised-button style="min-width: fit-content;">Delete</button>
          <button (click)="openDialog('archive')" mat-raised-button style="min-width: fit-content; background-color:gray; color:white">
            {{ fullCurrentProject?.archived ? 'Unarchive' : 'Archive' }}
          </button>
        </div>
        <ng-template #createBlock>
          <button [disabled]="editForm.invalid" (click)="submit()" color="primary" mat-raised-button style="margin: 0 2rem 0 0;">Confirm</button>
          <button (click)="edit()" style="background-color: gray; color:white;" mat-raised-button>Cancel</button>
        </ng-template>
      </div>
    </div>

    <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content;" [formGroup]="editForm">
      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput required>
          <mat-error>Name is required and must be less than 45 characters long.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="6"
            required></textarea>
            <mat-error>Name is required and must be less than 225 characters long.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%" class="custom-datetime">
          <mat-label>Due date</mat-label>
          <input matInput [owlDateTimeTrigger]="myDatePicker" [owlDateTime]="myDatePicker" formControlName="due_date" [min]="minDate">
          <owl-date-time [pickerType]="'calendar'" #myDatePicker></owl-date-time>
          <mat-error *ngIf="
              ( editForm.get('due_date').invalid ||
              editForm.get('due_date').errors?.owlDateTimeMin ) &&
              editForm.get('due_date').touched &&
              editForm.get('due_date').dirty">
            Due date is required, must be in a valid format and cannot be in the past.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>

  <section *ngIf="!editToggle" fxLayout="column" fxLayoutAlign="center stretch" fxFlex [formGroup]="ssfForm">
    <div class="custom-title-buttons-container" fxLayout="column" fxFlexAlign="start start" style="height: 112px;">
      <div fxLayout="row" style="width: 100%;">
        <div class="mat-display-2 custom-title" fxLayoutAlign="start center">
          Meetings
        </div>
        <div class="mat-display-2 custom-title" fxLayoutAlign="end center" style="margin-left: auto;">
          <a [routerLink]="['/project/' + this.route.snapshot.paramMap.get('id') + '/tasks']">Tasks</a>
        </div>
      </div>
      <button *ngIf="!fullCurrentProject?.archived" [routerLink]="['/project/' + this.route.snapshot.paramMap.get('id') + '/meeting/new']" color="primary" mat-raised-button style="width: min-content;">New</button>
    </div>
    <div class="mat-elevation-z4" style="background-color: rgb(238, 238, 238); margin-bottom: 3rem;">
      <div color="primary" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
          <mat-label>Show</mat-label>
          <mat-select (selectionChange)="refreshList()" formControlName="filterOpts">
            <mat-option *ngFor="let f of filterVals" [value]="f.value">
              {{ f.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
          <input matInput placeholder="Search" formControlName="search" (keyup.enter)="refreshList()">
          <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="name" matSortDirection="asc" class="custom-row-hover">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="summary">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 1rem 0 1rem;"> Summary </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0 1rem 0 1rem;"> {{element.summary}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="editMeeting(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </section>
</section>
