<section fxLayout="column" fxLayoutAlign="center center" style="min-width: fit-content;">
  <section style="margin-bottom: 4rem;">
    <img src="assets/images/logo.jpg" style="width: inherit; height: inherit;">
  </section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="8px"
    [formGroup]="loginForm"
    (ngSubmit)="logIn()" >
    <mat-form-field>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="Email"
        required>
        <mat-error>Email is required and must be valid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      formControlName="password"
      type="password"
      matInput
      placeholder="Password"
      required>
      <mat-error>Password is required and must be at least 6 characters long.</mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
    <a [routerLink]="['/signup']" type="cancel"  mat-Stroked-button color="accent" role="button">Sign Up</a>
  </form>
</section>
