<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content style="white-space: pre-line">{{ data.message }}</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="data.true" mat-stroked-button mat-dialog-close mat-dialog-close="true" color="warn">{{ data.true }}</button>
  <button *ngIf="data.false" mat-stroked-button mat-dialog-close mat-dialog-close="false">{{ data.false }}</button>
</mat-dialog-actions>
