<section fxLayout="column" fxLayoutAlign="center stretch" fxFlex [formGroup]="ssfForm">
  <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start start" >
    <div class="mat-display-3 custom-title ellipsed-title" style="height: 80px;">
      Worktimes
    </div>
    <div>
      <button *ngIf="archived!=2" (click)="newWorktime()" color="primary" mat-raised-button style="min-width: fit-content;">New</button>
    </div>
  </div>

  <div class="mat-elevation-z4" style=" min-width: min-content; background-color: rgb(238, 238, 238);margin-top: 42px;">
    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
        <mat-label>Show</mat-label>
        <mat-select (selectionChange)="stateFilter()" formControlName="filterOpts">
          <mat-option *ngFor="let f of filterVals" [value]="f.value">
            {{f.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
        <input id='search-box' matInput placeholder="Search" formControlName="search" (keyup.enter)="stateFilter()">
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource"  matSort style="padding: 0 1rem 0 1rem;" class="custom-row-hover" matSortActive="start_dt" matSortDirection="asc">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let worktime" fxLayout="column" fxLayoutAlign="start start"> <div class="mat-body-2">{{worktime.name}}</div><div class="mat-body-1">{{worktime.description}}</div> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="start_dt">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 0 0 1rem;"> Day </mat-header-cell>
        <mat-cell *matCellDef="let worktime" style="padding: 0 0 0 1rem;"> {{worktime.start_dt|date: 'shortDate'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 1rem 0 0;"> Employee </mat-header-cell>
        <mat-cell *matCellDef="let worktime" style="padding: 0 1rem 0 0;"> {{worktime.user}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Time (Mins) </mat-header-cell>
        <mat-cell  *matCellDef="let worktime" > {{worktime.duration}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="edit(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</section>

