<section fxLayout="column" fxFlex.gt-md="65%" fxFlex="100%">
  <div class="custom-title-buttons-container">
    <div class="mat-display-3 custom-title" style="min-width: fit-content;">
      <div class="ellipsed-title" matTooltipClass="custom-tooltip" matTooltipPosition="above" matTooltip="{{editForm.get('name').value}}" *ngIf="!this.route.snapshot.paramMap.get('id').startsWith('new'); else newBlock">
        <!-- REMOVED TO FIT WITH THE REST OF THE APP (Temporary) -->
        <!-- {{ currentProject?.name }} > {{ editForm.get('name').value }} -->
        {{ editForm.get('name').value }}
      </div>
      <ng-template #newBlock>
        <!-- REMOVED TO FIT WITH THE REST OF THE APP (Temporary) -->
        <!-- {{ currentProject?.name }} > {{ editForm.get('name')?.value != null ? editForm.get('name')?.value : "Meeting" }} -->
        {{ editForm.get('name')?.value != null ? editForm.get('name')?.value : "Meeting" }}
      </ng-template>
    </div>
    <div *ngIf="currentProject ? !currentProject?.archived : false" style="width: min-content;" fxLayout="row">
      <div *ngIf="!editToggle; else createBlock" fxLayoutAlign="start" fxLayoutGap="26px" style="width: min-width;">
        <button *ngIf="!fullCurrentMeeting?.archived" (click)="edit()" color="primary" mat-raised-button style="min-width: fit-content;">Edit</button>
        <button *ngIf="!fullCurrentMeeting?.archived" (click)="openDialog('delete')" color="warn" mat-raised-button style="min-width: fit-content;">Delete</button>
        <button (click)="openDialog('archive')" mat-raised-button style="min-width: fit-content; background-color:gray; color:white">
          {{ fullCurrentMeeting?.archived ? 'Unarchive' : 'Archive' }}
        </button>
      </div>
      <ng-template #createBlock>
        <button
          [disabled]="editForm.invalid ||
            (editForm.get('start_dt').value > editForm.get('end_dt').value) ||
            !dt1.selected || !dt2.selected"
          (click)="submit()"
          color="primary"
          mat-raised-button
          style="margin: 0 2rem 0 0;">Confirm</button>
        <button (click)="edit()" style="background-color: gray; color:white;" mat-raised-button>Cancel</button>
      </ng-template>
    </div>
  </div>

  <mat-card class="mat-elevation-z4" fxLayout="column" style="min-width: min-content; margin-bottom: 3rem;" [formGroup]="editForm">
    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
        <mat-error>Name is required and must be less than 45 characters long.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Summary</mat-label>
        <textarea  matInput formControlName="summary" cdkTextareaAutosize
          cdkAutosizeMinRows="3"></textarea>
          <mat-error>Summary is required and must be less than 255 characters long.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Location</mat-label>
        <input formControlName="location" matInput>
        <mat-error>Location is required and must be less than 45 characters long.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content fxLayout="row" fxLayoutGap="2rem">
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Start Date and Time </mat-label>
          <input
          [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1"
          formControlName="start_dt"
          matInput
          [min]="minDate"
          [max]="dt2?.selected ? dt2.selected : null">
          <owl-date-time #dt1></owl-date-time>
      <mat-error>
        Start date and time is required, must be in a valid format and cannot be in the past.
      </mat-error>
    </mat-form-field>
    </mat-card-content>

    <mat-card-content fxLayout="row" fxLayoutGap="2rem">
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>End Date and time </mat-label>
          <input [owlDateTimeTrigger]="dt2"
          [owlDateTime]="dt2"
          formControlName="end_dt"
          matInput
          [min]="dt1.selected ? dt1.selected : minDate">
          <owl-date-time #dt2></owl-date-time>
      <mat-error>
        End date and time cannot be before start time and cannot be in the past.
      </mat-error>
    </mat-form-field>
    </mat-card-content>

  </mat-card>
</section>
