<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="ssfForm">
  <div fxLayout="column" fxLayoutAlign="start start" style="margin-bottom: 66px; min-width: min-content;">
    <div class="mat-display-3 custom-title ellipsed-title" style="height: 75px; width: min-content;">
      Tasks
      <mat-icon [routerLink]="['/tasks/analytics']" fxFlex fxLayoutAlign="start center" style="cursor: pointer; width: min-content; color: rgba(0, 0, 0, 0.54); margin-left: 1.5rem;" inline="true">
        analytics
      </mat-icon>
    </div>
    <div>
      <button (click)="newTask()" *ngIf="this.route.snapshot.paramMap.get('id')" color="primary" mat-raised-button style="min-width: fit-content;">New</button>
    </div>
  </div>

  <div class="mat-elevation-z4" style=" min-width: min-content; background-color: rgb(238, 238, 238);">
    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
        <mat-label>Show</mat-label>
        <mat-select (selectionChange)="stateFilter()" formControlName="filterOpts">
          <mat-option *ngFor="let f of filterVals" [value]="f.value">
            {{f.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
        <input id='search-box' matInput placeholder="Search" formControlName="search" (keyup.enter)="stateFilter()">
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" class="custom-row-hover" matSortActive="due_date" matSortDirection="asc">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>

        <mat-cell *matCellDef="let task" > {{task.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let task" > {{task.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let task" >{{task.due_date| date: 'shortDate'}}
          <mat-cell *ngIf="task.due_date < currentDate  &&task.state!=2" style="color:red;"><span class="material-icons">warning</span></mat-cell>
          <mat-cell *ngIf="currentDate < task.due_date && task.due_date < nextWeek  &&task.state!=2" style="color:green;"><span class="material-icons">priority_high</span></mat-cell>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
        <mat-cell *matCellDef="let task" > {{taskState(task.state)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estimated_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estimated time (Mins) </mat-header-cell>
        <mat-cell *matCellDef="let task" > {{task.estimated_time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actual_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actual time (Mins) </mat-header-cell>
          <mat-cell *matCellDef="let task" > {{task.actual_time}}
          <mat-cell *ngIf="task.actual_time>task.estimated_time" style="color:red;"><span class="material-icons">warning</span></mat-cell>
          <mat-cell *ngIf="task.actual_time>(task.estimated_time/4)*3 && task.actual_time<=task.estimated_time" style="color:green;"><span class="material-icons">priority_high</span></mat-cell>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="edit(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</section>
