<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="sForm">
  <div fxLayout="column" fxFlexAlign="start start" style="margin-bottom: 3rem">
    <div class="mat-display-3 no-margin">Resources Analytics</div>
  </div>

  <div
    class="mat-elevation-z4"
    style="
      min-width: min-content;
      background-color: rgb(238, 238, 238);
      margin-bottom: 3rem;
    "
  >
    <div color="primary" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field style="width: 100%; margin: 0 1rem 0 1rem">
        <input
          id="search-box"
          matInput
          placeholder="Search"
          formControlName="search"
          (keyup.enter)="updateQuery()"
        />
        <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
      </mat-form-field>
    </div>

    <mat-table
      #table
      [dataSource]="dataSource"
      matSort
      style="padding: 0 1rem 0 1rem"
      matSortActive="model"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Model
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.model }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Brand
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.brand }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          State
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.state_name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="borrow_count">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Borrow count
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.borrow_count }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="days_borrowed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Days borrowed
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.days_borrowed }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="top_borrower">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Top borrower
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.top_borrower || "N/A" }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</section>
