<section
[formGroup]= 'selectForm'
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutGap.gt-sm="8rem"
  fxLayoutGap="4rem"
  fxLayoutAlign="space-between start"
  style="min-width: fit-content;"
  class="responsive-width">
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-sm="50%" fxFlex="100%">
    <div class="custom-title-buttons-container">
      <div class="mat-display-3 custom-title" style="min-width: fit-content;">
        <div class="ellipsed-title" matTooltipClass="custom-tooltip" matTooltipPosition="above">
          {{ selectForm.get('name').value }}
        </div>

      </div>

      <div>
        <div  fxLayoutAlign="start" fxLayout="row" fxLayoutGap="26px" style="width: min-content;">
        </div>
      </div>
    </div>

    <mat-card class="mat-elevation-z4" fxLayout="column" style=" min-width:min-content;">
      <mat-card-content>
        <mat-form-field  fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="6"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field fxFlex="100%">
          <mat-label>availability</mat-label>
          <input formControlName="availability" matInput>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field fxFlex="100%">
          <mat-label>Number employee looking for</mat-label>
          <input formControlName="nb_employee_looking_for" matInput>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
