<section
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="8rem"
  fxLayout.lt-md="3rem"
  style="margin-bottom: 6rem"
>
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
      style="margin-bottom: 4rem"
    >
      <div class="mat-display-3  custom-title ellipsed-title">
        Welcome {{ authService.currentEmployee?.firstname }} !
      </div>
    </div>
    <mat-card
      class="mat-elevation-z4"
      fxLayout="column"
      style="min-width: min-content"
    >
      <mat-card-title>{{
        message || "Aucune annonce d'équipe"
      }}</mat-card-title>
    </mat-card>
  </section>
  <section fxLayoutAlign="end start" fxFlex fxHide.lt-md>
    <mat-card class="mat-elevation-z20" style="width: 450px; height: 148px">
      <img
        fxFlexAlign="start"
        src="assets/images/logo.jpg"
        style="width: inherit; height: inherit"
      />
    </mat-card>
  </section>
</section>

<section
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="8rem"
  fxLayout.lt-md="3rem"
  style="margin-bottom: 4rem"
>
  <section fxLayoutAlign="center stretch" fxFlex *ngIf="home?.next_meeting">
    <mat-card class="mat-elevation-z4" style="min-width: min-content">
      <mat-card-title style="margin-bottom: 2rem"
        ><a
          [routerLink]="[
            '/project',
            home?.next_meeting?.project_id,
            'meeting',
            home?.next_meeting?.id
          ]"
          >Next Meeting</a
        ></mat-card-title
      >

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Name</mat-label>
          <input
            matInput
            disabled
            readonly
            [value]="home?.next_meeting?.name || ''"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Summary</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            readonly
            disabled
            [value]="home?.next_meeting?.summary || ''"
          ></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Location</mat-label>
          <input
            matInput
            disabled
            readonly
            [value]="home?.next_meeting?.location || ''"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Start Date and Time</mat-label>
          <input
            [owlDateTime]="dt1"
            matInput
            disabled
            readonly
            [value]="home?.next_meeting?.start_dt"
          />
          <owl-date-time #dt1 disabled readonly></owl-date-time>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>End Date and time</mat-label>
          <input
            [owlDateTime]="dt2"
            matInput
            disabled
            readonly
            [value]="home?.next_meeting?.end_dt"
          />
          <owl-date-time #dt2 disabled readonly></owl-date-time>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
  <section fxLayoutAlign="center stretch" fxFlex *ngIf="home?.next_task">
    <mat-card
      fxLayout="column"
      class="mat-elevation-z4"
      style="min-width: min-content"
    >
      <mat-card-title style="margin-bottom: 2rem"
        ><a [routerLink]="['/task', home?.next_task?.id]"
          >Next Task</a
        ></mat-card-title
      >

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Name</mat-label>
          <input [value]="home?.next_task?.name" matInput disabled readonly />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea
            [value]="home?.next_task?.description"
            matInput
            disabled
            readonly
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Estimated Time</mat-label>
          <input
            [value]="home?.next_task?.estimated_time"
            matInput
            disabled
            readonly
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Actual Time</mat-label>
          <input
            [value]="home?.next_task?.actual_time"
            matInput
            disabled
            readonly
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>State</mat-label>
          <input
            [value]="home?.next_task?.state === 0 ? 'New' : 'Finished'"
            matInput
            disabled
            readonly
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%" class="custom-datetime">
          <mat-label>Due date</mat-label>
          <input
            matInput
            [owlDateTime]="dt"
            disabled
            readonly
            [value]="home?.next_task?.due_date"
          />
          <owl-date-time
            [pickerType]="'calendar'"
            #dt
            disabled
            readonly
          ></owl-date-time>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
  <section
    fxLayoutAlign="center stretch"
    fxFlex
    *ngIf="home?.late_tasks.length"
  >
    <mat-card
      fxLayout="column"
      class="mat-elevation-z4"
      style="min-width: min-content"
      style="border: 7px solid red !important"
    >
      <mat-card-title>Late tasks</mat-card-title>
      <mat-card-content>
        <mat-nav-list>
          <a
            *ngFor="let task of home?.late_tasks"
            [routerLink]="['/task', task.id]"
            >{{ task.name }}</a
          >
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </section>
</section>
