<section
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between start"
  fxLayoutGap="8rem"
  style="height: 100%"
>
  <section
    fxLayout="column"
    fxLayoutAlign="center stretch"
    fxFlex="50%"
    fxFlex.lt-md="100%"
  >
    <div
      fxLayout="column"
      fxFlexAlign="start start"
      style="margin-bottom: 3rem"
    >
      <div class="mat-display-3 no-margin">Resource</div>
      <div fxLayout="row">
        <div *ngIf="!editing; else createBlock">
          <button
            (click)="toggle()"
            color="primary"
            mat-raised-button
            style="margin: 2rem 2rem 0 0; min-width: fit-content"
          >
            Edit
          </button>
          <button (click)="remove()" color="warn" mat-raised-button>
            Delete
          </button>
        </div>
        <ng-template #createBlock>
          <button
            [disabled]="form.invalid"
            (click)="submit()"
            color="primary"
            mat-raised-button
            style="margin: 0 2rem 0 0; min-width: fit-content"
          >
            Confirm
          </button>
          <button
            (click)="cancel()"
            style="background-color: gray; color: white"
            mat-raised-button
          >
            Cancel
          </button>
        </ng-template>
      </div>
    </div>

    <mat-card
      class="mat-elevation-z4"
      fxLayout="column"
      style="min-width: min-content"
      [formGroup]="form"
    >
      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Model</mat-label>
          <input formControlName="model" matInput required />
          <mat-error
            >Model is required and must be less than 45 characters
            long.</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Brand</mat-label>
          <input formControlName="brand" matInput required />
          <mat-error
            >Brand is required and must be less than 45 characters
            long.</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="6"
            required
          ></textarea>
          <mat-error
            >Description is required and must be less than 255 characters
            long.</mat-error
          >
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>

  <section fxLayout="column" fxLayoutAlign="center stretch">
    <div
      fxLayout="column"
      fxFlexAlign="start start"
      style="margin-bottom: 3rem"
    >
      <div class="mat-display-3 no-margin">History</div>
      <div fxLayout="row">
        <div>
          <div *ngIf="isMine; else borrowButton">
            <button
              color="warn"
              mat-raised-button
              style="margin: 2rem 2rem 0 0"
              (click)="unborrow()"
            >
              Return
            </button>
          </div>
          <ng-template #borrowButton>
            <button
              color="primary"
              mat-raised-button
              style="margin: 2rem 2rem 0 0"
              (click)="borrow()"
            >
              Borrow
            </button></ng-template
          >
        </div>
      </div>
    </div>

    <div
      class="mat-elevation-z4 custom-border"
      style="
        min-width: min-content;
        background-color: rgb(238, 238, 238);
        margin-bottom: 3rem;
      "
    >
      <mat-table
        [dataSource]="dataSource"
        matSort
        class="custom-border-top"
        style="padding: 0 1rem 0 1rem"
        matSortActive="start_date"
        matSortDirection="desc"
      >
        <ng-container matColumnDef="start_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Borrow date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.start_date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Return date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.end_date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_fullname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.user_fullname }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="state_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Return state
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.state_name }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </section>
</section>
