<section fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="ssfForm">
    <div class="custom-title-buttons-container">
      <div class="mat-display-3 custom-title ellipsed-title" style="min-width: fit-content;">
         Job Offers
      </div>
    </div>
  
    <div class="mat-elevation-z4" style="min-width: min-content; background-color: rgb(238, 238, 238); margin-bottom: 3rem;">
      <div color="primary" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
          <input matInput placeholder="Search" formControlName="search" (keyup.enter)="refreshList()">
          <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
        </mat-form-field>
      </div>
  
      <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="name" matSortDirection="asc" class="custom-row-hover">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="availability">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 1rem 0 1rem;"> Availability </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0 1rem 0 1rem;"> {{jobOfferAvailability(element.availability)}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="nb_employee_looking_for">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Number employee looking for </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nb_employee_looking_for}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="select(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </section>
  
  