    <div class="mat-elevation-z4" style=" min-width: min-content; background-color: rgb(238, 238, 238);">
        <div [formGroup]= 'ssfForm' color="primary" fxLayout="row" fxLayoutAlign="end center">
          <div *ngIf="addButton">
            <button style="margin: 0 1rem -9px 1rem; width: 30%;" (click)="addMember()" color="primary" mat-raised-button style="margin: 0 2rem 0 2rem;">Add</button> 
          </div>
          <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
            <input id='search-box' matInput placeholder="Search" formControlName="search" (keyup.enter)="updateBoadUser()">
            <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
          </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource1" matSort style="padding: 0 1rem 0 1rem;" matSortActive="firstname" matSortDirection="asc">
      
      <ng-container matColumnDef="firstname" >
        <mat-header-cell *matHeaderCellDef mat-sort-header   > First Name </mat-header-cell>
        
        <mat-cell *matCellDef="let user"> 
       <mat-checkbox (change)="showOptions($event,user.id)"> {{user.firstname}} </mat-checkbox> 
       </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> phone number </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
