<section class="signup-form" fxLayout="column" fxLayoutAlign="center center" style="min-width: fit-content;">
  <section style="margin-bottom: 4rem;">
    <img src="assets/images/logo.jpg" style="width: inherit; height: inherit;">
  </section>
  <form  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="signupForm" (ngSubmit)="signUp()">
      <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input formControlName="email"
          type="email"  matInput placeholder= "Email"

          (input)="onEmailInput()" >
          <mat-error>Email is required and must be valid and inexistant.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input formControlName="firstname"
        type="input"  matInput placeholder= "First Name"

        maxlength=45>
        <mat-error>First name cannot be empty and must be under 45 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastname"
      type="input"  matInput placeholder= "Last Name"

      maxlength=45>
      <mat-error>Last name cannot be empty and must be under 45 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input
        formControlName="password"
        type="password" matInput placeholder= "Password"
        #pwInput
        >
        <mat-error >Password must be at least 6 characters long.</mat-error>
        <mat-hint align="end">{{ pwInput.value?.length }}/6 </mat-hint>
    </mat-form-field >
    <mat-form-field appearance="standard">
      <mat-label>Password Confirmation</mat-label>
      <input
      formControlName="password_confirmation"
      type="password"
      matInput
      placeholder= "Password confirmation"
      >
      <mat-hint>Password confirmation must match with the password to create account.</mat-hint>
      <mat-error >Password must be at least 6 characters long.</mat-error>
    </mat-form-field>
    <button [disabled]="signupForm.invalid"  type="submit" mat-raised-button color="primary"> Create my account </button>

    <button [routerLink]="['']" type="cancel"  mat-raised-button style="background-color:gray; color:white;">Cancel</button>
  </form>
</section>
