<div class="mat-elevation-z4" style=" min-width: min-content; background-color: rgb(238, 238, 238);">
  <div [formGroup]= 'ssfForm' color="primary" fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
      <mat-label>Show</mat-label>
      <mat-select (selectionChange)="updateBoardMember()" formControlName="filterOpts">
        <mat-option *ngFor="let f of filterVals" [value]="f.value">
          {{ f.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
      <input id='search-box' matInput placeholder="Search" formControlName="search" (keyup.enter)="updateBoardMember()">
      <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="editMember; else createBlock5">
    <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="firstname" matSortDirection="asc">
      <ng-container matColumnDef="firstname" >
        <mat-header-cell *matHeaderCellDef mat-sort-header   > First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstname}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> phone number </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <div *ngIf="editMember; else createBlock3">
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </div>
      <ng-template #createBlock3>
        <mat-row (click)="delete(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </ng-template>
  
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </div>
  <ng-template #createBlock5>
    <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="firstname" matSortDirection="asc" class="custom-row-hover">
      <ng-container matColumnDef="firstname" >
        <mat-header-cell *matHeaderCellDef mat-sort-header   > First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstname}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> phone number </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <div *ngIf="editMember; else createBlock3">
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </div>
      <ng-template #createBlock3>
        <mat-row (click)="delete(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </ng-template>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
  </ng-template>
</div>
