.ellipsed-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .responsive-width {
    align-items: unset !important;
  }

  .mat-display-2 {
    height: 50px !important;
  }

  .custom-title-buttons-container {
    margin-bottom: 2rem !important;
  }
}

mat-label {
  font-size: large;
  color: black;
}

owl-date-time-container {
  top: 210px !important;
  left: 150px !important;
}
