<section
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutGap.gt-md="8rem"
  fxLayoutGap="1rem"
  fxLayoutAlign="space-between start"
  style="min-width: fit-content;"
  class="responsive-width">
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-sm="60%" fxFlex="100%">
    <div class="custom-title-buttons-container">
      <div class="mat-display-3 custom-title ellipsed-title" style="min-width: fit-content;">
        Projects analytics
      </div>
      <div class="mat-h3" fxLayout="column">
        <div fxLayoutAlign="start center">
          Time range
          <input
            [owlDateTimeTrigger]="dt10"
            [owlDateTime]="dt10"
            [selectMode]="'range'"
            style="visibility: collapse; width: 0px; height: 30px;"
            [(ngModel)]="selectedDateRange"
            (ngModelChange)="refreshList()">
          <mat-icon (click)="dt10.open()" style="cursor: pointer; transform: scale(1.3); margin: 0 2rem 0 1rem;">date_range</mat-icon>
          <owl-date-time #dt10 [pickerType]="'calendar'"></owl-date-time>
          <button mat-raised-button (click)="clearDateRange()">Clear</button>
        </div>
        <span class="mat-caption ellipsed-description">
          Due date... From: {{ selectedDateRange[0]?.toLocaleDateString() }}, To: {{ selectedDateRange[1]?.toLocaleDateString() }}
        </span>
      </div>
    </div>

    <div [formGroup]="ssfForm" class="mat-elevation-z4" style="min-width: min-content; background-color: rgb(238, 238, 238); margin-bottom: 3rem;">
      <div color="primary" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field style="margin: 0 1rem -9px 1rem; width: 30%;">
          <mat-label>Show</mat-label>
          <mat-select (selectionChange)="refreshList()" formControlName="filterOpts">
            <mat-option *ngFor="let f of filterVals" [value]="f.value">
              {{ f.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 0 1rem 0 2rem;">
          <input matInput placeholder="Search" formControlName="search" (keyup.enter)="refreshList()">
          <mat-icon fxFlex style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSource" matSort style="padding: 0 1rem 0 1rem;" matSortActive="name" matSortDirection="asc" class="custom-row-hover">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="start start">
              {{ element.name }}
              <br>
              <span class="mat-caption ellipsed-description">{{ element.description }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="archived">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 1rem 0 1rem;"> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0 1rem 0 1rem;"> {{ toStatus(element.archived) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="meetings_count">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Meetings count </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.meetings_count }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="edit(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </section>

  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
    <div class="mat-display-2 custom-title-buttons-container" fxLayoutAlign="start center" style="height: 148px;">
      Details
    </div>

    <mat-card class="mat-elevation-z4" fxLayout="column" style="min-width: min-content; margin-bottom: 3rem;">
      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Average meeting time (hrs)</mat-label>
          <input value="{{ getFloatToTime()[0] }}h{{ getFloatToTime()[1] }}" matInput readonly disabled style="font-size: x-large;">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Average meeting count</mat-label>
          <input value="{{ stats?.avg_meeting_count != null ? stats?.avg_meeting_count : 0 }}" matInput readonly disabled style="font-size: x-large;">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Total meetings count</mat-label>
          <input value="{{ stats?.tot_meetings != null ? stats?.tot_meetings : 0}}" matInput readonly disabled style="font-size: x-large;">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Total active projects count</mat-label>
          <input value="{{ stats?.active_percentage != null ? stats?.active_percentage : 0}}% active" matInput readonly disabled style="font-size: x-large;">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Project with the most meeting(s)</mat-label>
          <input value="&quot;{{ stats?.most_meetings_project != null ? stats?.most_meetings_project : 'None' }}&quot;, {{ stats?.most_meetings_count != null ? stats?.most_meetings_count : 0 }} meeting(s)"
          matInput readonly disabled style="font-size: x-large;">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </section>
</section>
